/*fuundation*/
@use "./foundation/reset";
@use "./foundation/base";

/*layout*/

/*objects*/
  /*component*/
  @use "./object/component/nav-menu";
  @use "./object/component/button";
  @use "./object/component/hamburger";
  /*project*/
  @use "./object/project/header" as ph;

  /*utility*/