/*fuundation*/
@use "./foundation/reset";
@use "./foundation/base";

/*layout*/
  @use "./layout/inner";

/*objects*/
  /*component*/

  @use "./object/component/logo";
  @use "./object/component/nav-menu";
  @use "./object/component/button";
  @use "./object/component/hamburger";
  @use "./object/component/section-ttl";
  @use "./object/component/questionnaire-card";
  @use "./object/component/features-item";
  @use "./object/component/voice-card";
  @use "./object/component/flow-list";
  @use "./object/component/price-card";
  @use "./object/component/accordion";
  @use "./object/component/scroll-page-top";

  /*project*/
  @use "./object/project/header" as ph;
  @use "./object/project/footer" as pf;
  @use "./object/project/hero";
  @use "./object/project/slider";
  @use "./object/project/questionnaire";
  @use "./object/project/consept";
  @use "./object/project/features";
  @use "./object/project/voices";
  @use "./object/project/voices-swiper";
  @use "./object/project/flow";
  @use "./object/project/price";
  @use "./object/project/question";
  @use "./object/project/cta";
  @use "./object/project/popup";

/*utility*/