/******************************
ハンガーガーメニュー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-hamburger {
  width: rem(40);
  height: rem(40);
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: $z-hamburger;

  &__bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: rem(28);
    height: rem(2);
    background-color: $color-white;
    transition: transform 0.3s ease, top 0.3s ease;

    &:nth-child(1) {
      top: rem(5);
    }
    &:nth-child(2) {
      top: rem(15);
    }
  }

  &__text {
    position: absolute;
    bottom: rem(7);
    left: 0;
    color: $color-white;
    font-size: rem(10);
    line-height: 1;
    transition: opacity 0.3s ease;
  }
}

/* メニューオープン時 */
.p-header.is-menu-open{
    .c-hamburger {
    &__bar{
      top: rem(15);

      &:nth-child(1) {
        transform: translateX(-50%) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateX(-50%) rotate(-45deg);
      }
    }

    &__text {
      opacity: 0;
    }
  }
}