/******************************
インナー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-inner {
  width: 100%;
  padding-inline: var(--inner-p);
  max-width: calc(var(--inner-max) + var(--inner-p) * 2);
  margin-inline: auto;
}