/******************************
料金プラン　リスト
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-price-card {
  width: 100%;

  &__head {
    padding-block: rem(42) rem(32);
    background-color: $color-main;
    border-radius: 20px 20px 0 0;
  }

  &__body {
    padding-block: rem(35) rem(46);
    background-color: $color-lightgray;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(tab) {
      padding-inline: rclamp(20, 43, 768, 1097);
    }
  }

  &__name {
    color: $color-white;
    font-size: rem(36);
    font-weight: 700;
    text-align: center;
    font-family: "Roboto Condensed";
    line-height: 1;
    margin-bottom: rem(17);
    @include mq(tab) {
      font-size: rclamp(24, 36, 375, 1280);
    }
  }

  &__scope {
    color: $color-white;
    font-size: rem(16);
    font-weight: 700;
    text-align: center;
    line-height: 1;
    @include mq(tab) {
      font-size: rclamp(14, 16, 375, 1280);
    }
  }

  &__price {
    font-size: rem(60);
    font-weight: 700;
    line-height: 0.7;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: rem(27);

    @include mq(tab) {
      font-size: rclamp(40, 60, 768, 1280);
    }

    > span {
      font-size: rem(20);
    }
  }

  &__unit {
    line-height: 1;
    margin-bottom: rem(61) - rem(17);
  }

  &__contents {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(61) - rem(17);
  }

  &__content {
    font-size: rem(14);
    line-height: 1.2;
    letter-spacing: -0.2px;
    text-align: center;
    padding-block: rem(17) - rem(1.5);
    border-bottom: 2px solid $color-midlegray;

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-weight: 700;
    line-height: 1;
    background-color: $color-orange;
    border-radius: 5px;
    width: rem(156);
    height: rem(46);
  }
}

.c-price-card:nth-child(2) {
  .c-price-card__head{
    background-color: $color-secondary;
    position: relative;
    overflow: hidden;
  }

  .c-price-card__ribbon {
    $width: 172px;
    $top: 32px;

    position: absolute;
    width: $width;
    top: $top;
    top: $top;
    right:( $width * -1 / 2 + $top );
    transform: rotate(45deg);
    transform-origin: top center;
    padding: 6px ( $width / 2 - 31px * 1.414) 6px ( $width / 2 - 33px * 1.414);//padding: 6px ( $width / 2 - $top * 1.414) 6px;としたいがずれているため
    box-sizing: border-box;
    background-color: $color-orange;

    color: $color-white;
    font-size: rem(12);
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}