/******************************
Topへ戻るボタン
******************************/
@use "../../foundation/forwards" as *;

.c-scroll-page-top {
  //アニメーション
  transition: all  0.3s ease;
  visibility: hidden;
  opacity: 0;

  &.is-fadein {
    visibility: visible;
    opacity: 1;
  }

  //ボタンスタイル
  position: fixed;
  right: 12px;
  bottom: 12px;
  width: rem(52);
  height: rem(52);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding: 0;
  @include mq(tab) {
    width: rem(88);
    height: rem(88);
  }

  //ホバー
  &:hover{
    transform: translateY(rem(-4));
    box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.25);
  }

  //フォーカスリング
  &:focus-visible {
    outline: $focus-width solid $focus-color;
    outline-offset: $focus-offset;
  }
}