/******************************
導入実績・利用者の声 カード
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-voice-card {
  width: rem(262);
  padding: rem(22) rem(22) rem(42);
  background-color: $color-white;
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(14);

  &__head {
    display: flex;
    align-items: center;
    gap: rem(11);
  }

  &__icon {
    width: rem(57);
    height: rem(57);
    background-color: $color-beige;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ttl {
    color: $color-darkgreen;
    font-weight: 700;
    line-height: 1.2;
    width: rem(150);
  }

  &__position {
    color: $color-white;
    font-size: rem(12);
    font-weight: 700;
    line-height: 1;
    padding: rem(3) rem(5);
    background-color: $color-orange;
    width: fit-content;
  }

  &__text {
    font-size: rem(14);
  }
}