/******************************
非適用
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.u-none--sp {
  display: none;
  @include mq(tab) {
    display: initial;
  }
}

.u-none--tab {
  @include mq(tab) {
    display: none;
  }
}

.u-none--pc {
  @include mq(pc) {
    display: none;
  }
}