/******************************
TENSAKUが誇る5つの特徴
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-features {
  padding-bottom: rem(121);
  padding-inline: var(--inner-p);
  background-color: $color-bg;

  &__ttl {
    margin-bottom: rem(48);
  }

  &__body {
    max-width: rem(1024);
    margin-inline: auto;
    @include mq(pc) {
      padding-right: rem(30);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: rclamp(60, 121, 375, 1024);
  }
}