/******************************
ご利用の流れ
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-flow {
  padding-bottom: rem(90);

  &__ttl {
    margin-bottom: rem(14);
  }

  &__discription {
    max-width: rem(480);
    margin-inline: auto;
    margin-bottom: rem(86);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > span {
      display: inline-block;
    }
  }

  &__list {
    width: rem(248);
    margin-inline: auto;
    @include mq(tab) {
      width: 100%;
      max-width: rem(984);
    }
  }
}

