/******************************
ご利用の流れ
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-flow {
  padding-bottom: rem(90);

  &__ttl {
    margin-bottom: rem(26);
    @include mq(tab) {
      margin-bottom: rem(14);
    }
  }

  &__discription {
    max-width: rem(480);
    margin-inline: rem(-10);
    margin-bottom: rem(81);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mq(tab) {
      margin-inline: auto;
      margin-bottom: rem(86);
    }

    > span {
      display: inline-block;
    }
  }

  &__list {
    width: 100%;
    max-width: rem(335);
    margin-inline: auto;
    @include mq(tab) {
      max-width: none;
      max-width: rem(984);
    }
  }
}

