/******************************
ヘッダー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-footer {
  background: $color-lightgray;

  &__inner {
    padding-block: rem(68) rem(77);
    padding-inline: var(--inner-p);
    width: 100%;
    max-width: var(--inner-max);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(32);
    @include mq(pc) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: rem(65);
      padding-inline: calc(rem(20) + rem(100));
    }
  }

  &__logo {
    @include mq(pc) {
      margin-bottom: rem(26);
    }

    > a {
      color: $color-main;
    }
  }

  &__copyright--pc {
    display: none;
    @include mq(pc) {
      display: block;
      font-size: rem(12);
      line-height: 1;
      width: rem(261);
    }
  }

  &__menu {
    width: 100%;
    max-width: rem(283);
    @include mq(pc) {
      max-width: none;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(pc) {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: rem(34) rem(36);
    }
  }

  &__item {
    width: 100%;
    text-align: center;
    @include mq(pc) {
      width: auto;
    }
  }

  &__link {
    display: block;
    width: 100%;
    font-size: rclamp(14, 16, 375, 1024);
    font-weight: 700;
    line-height: 1;
    padding-block: rem(16);
    @include mq(pc) {
      padding-block: 0;
      width: auto;
    }
  }
  
  &__buttons{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rem(283);
    gap: rem(19);
    @include mq(pc) {
      width: auto;
    }
  }

  &__copyright--sp {
    font-size: rem(12);
    line-height: 1;
    @include mq(pc) {
      display: none;
    }
  }
}