/******************************
ヘッダー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-header {
  position: fixed;
  width: 100%;
  z-index: $z-header;
  background-color: aquamarine; // 仮背景

  &__inner{
    padding-block: rem(25) rem(25);
    padding-inline: var(--inner-p);
    width: 100%;
    max-width: var(--inner-max);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(pc) {
      padding-block: rem(33) rem(33);
    }
  }

  &__logo {
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(136);
      height: rem(24);
      color: $color-white;
      font-family: Orbitron;
      font-size: rem(24);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      @include mq(pc) {
        width: rem(181);
        height: rem(32);
        font-size: rem(32);
      }
    }
  }

  &__nav {
    display: none;
    @include mq(pc) {
      display: block;
    }
  }

  &__button {
    @include mq(pc) {
      display: none;
    }
  }
}

/*メニューオープン時*/
.p-header.is-menu-open {
  .p-header__nav {
    display: block;
    position: fixed;
    z-index: $z-navPanel;
    inset: var(--header-h) 0 0 auto;  // 右サイドパネル

    @include mq(pc) {
      position: static;
      inset: auto;
    }
  }
}