/******************************
ヘッダー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-header {
  position: fixed;
  width: 100%;
  z-index: $z-header;

  &__inner{
    padding-block: rem(17);
    padding-inline: var(--inner-p);
    width: 100%;
    max-width: var(--inner-max);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(pc) {
      padding-block: rem(33);
    }
  }

  &__logo {
    > a {
      color: $color-white;
      font-family: Orbitron;
      font-size: rclamp(24, 32, 375, 1280);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }

  &__nav {
    position: fixed;
    z-index: $z-navPanel;
    background: linear-gradient(180deg, #00BA6B 0%, #075735 100%);
    padding: rem(23) rem(13) rem(53);
    height: fit-content;
    top: var(--header-h);
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease;

    @include mq(pc) {
      position: static;
      background: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transform: none;
    }
  }

  &__button {
    @include mq(pc) {
      display: none;
    }
  }

  /*メニューオープン時*/
  &.is-menu-open {
    .p-header__nav {
      transform: translateX(0);

      @include mq(pc) {
        transform: none;
      }
    }
  }
}

