/******************************
ヘッダー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-header {
  position: fixed;
  width: 100%;
  z-index: $z-header;
  background-color: aquamarine; // 仮背景

  &__inner{
    padding-block: rem(25);
    padding-inline: var(--inner-p);
    width: 100%;
    max-width: var(--inner-max);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(pc) {
      padding-block: rem(33);
    }
  }

  &__logo {
    > a {
      display: flex;
      align-items: center;
      width: rem(136);
      color: $color-white;
      font-family: Orbitron;
      font-size: rem(24);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      @include mq(pc) {
        width: rem(181);
        font-size: rem(32);
      }
    }
  }

  &__nav {
    position: fixed;
    inset: var(--header-h) 0 0;
    display: none;

    @include mq(pc) {
      position: static;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      inset: auto;
    }
  }

  &__button {
    @include mq(pc) {
      display: none;
    }
  }

  /*メニューオープン時*/
  &.is-menu-open {
    &__nav {
      display: block;
      position: fixed;
      z-index: $z-navPanel;
      inset: var(--header-h) 0 0 auto;  // 右サイドパネル

      @include mq(pc) {
        position: static;
        display: flex;
      }
    }
  }
}

