/******************************
よくある質問
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-question {
  background-color: $color-bg2;
  padding-bottom: rem(85);

  &__ttl {
    margin-bottom: rem(19);
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(49);
  }

  &__menus {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(24);
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(290);
    height: rem(38);
    font-size: rem(20);
    font-weight: 700;
    color: $color-textgray;
    background-color: $color-lightgray;
    border: 2px solid $color-textgray;
    border-radius: rem(19);
  }

  &__menu.is-active {
    color: $color-white;
    background-color: $color-orange;
    border-color: $color-orange;
  }

  &__contents {
    width: 100%;
    max-width: rem(984);
  }

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(20);
  }
}