/******************************
導入実績・利用者の声
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-voices {
  padding-bottom: rem(113);
  background-color: $color-bg;

  &__ttl {
    margin-bottom: rem(117);
  }
}