/******************************
資料ダウンロードページ フォーム
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-whitepaper-form {
  display: flex;
  flex-direction: column;

  &__text {
    font-size: rem(14);
    margin-bottom: rem(37);
  }

  &__input,
  &__select {
    border-radius: 5px;
    border: 1px solid $color-lightgray2;
    background: $color-white;
    color: $color-text;
    padding: rem(9) rem(10) rem(9) rem(12);
  }

  &__input {
    margin-bottom: rem(10);
  }

  &__input::placeholder {
    color: $color-textgray;
  }

  &__select{
    margin-bottom: rem(24);
    display: inline-flex;
    align-items: center;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url("../img/icon_arrow_down.svg") no-repeat right rem(10) center / rem(14);
    padding-right: rem(30);
  }

  &__select:required:invalid {
    color: $color-textgray;
  }

  &__notes {
    font-size: rem(12);
    line-height: 1;
    margin-bottom: rem(24);
  }

  &__link {
    color: $color-linkblue;
    text-decoration: underline;
  }

  &__button {
    width: 100%;
    padding: rem(10);
    background-color: $color-main;
    color: $color-white;
    font-size: rem(16);
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}