/******************************
インナー
******************************/
@use "../foundation/forwards" as *;
@use "sass:math";

.l-inner {
  width: 100%;
  padding-inline: var(--inner-p);
  max-width: calc(var(--inner-max) + var(--inner-p) * 2);
  margin-inline: auto;
}

.l-inner--voices {
  width: 100%;
  padding-inline: var(--inner-p);
  margin-inline: auto;
  @include mq(pc) {
    max-width: calc(rem(912) + var(--inner-p) * 2);
  }
}

.l-inner--cta {
  width: 100%;
  max-width: rem(590);
  padding-inline: var(--inner-p);
  margin-inline: auto;
  @include mq(tab) {
    max-width: calc(rem(984) + var(--inner-p) * 2);
  }
}